body {
  font-family: serif;
}

.container {
  width: 1170px;
  padding: 20px 40px;
  margin: 0 auto;
}

.top-wrapper h1 {
  font-size: 140px;
}

.top-wrapper {
  background-image: url('https://github.com/yousukeend/yousukeend.github.io/blob/master/1528803266704.jpg');
  color: #ff0000;
  background-size: cover;
}
